@import '../../assets/styles/global';

.inputCounter {
  height: 40px;
  width: 140px;
  display: flex;
  flex-direction: row;

  input:focus {
    outline: none !important;
  }

  input {
    border:0 none;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    width: 58px;
    box-sizing: border-box;
    padding: 0 0 0 0;
    background: white;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  & > button {
    background: $components-bg;
    color: #5c5c5c;
    width: 42px;
    border: 1px solid #E4E4E4;
    border-radius: 4px 0 0 4px;
    cursor: pointer;

    &:hover {
      color: #000000;
      background: #e5e5e5;
    }
  }

  button:last-child {
    border-radius: 0 4px 4px 0;
  }

  button:focus {
    outline: none !important;
  }

  button span {
    line-height: 35px;
    margin: auto;
    font-weight: 400;
    font-size: 1.4rem;
  }

}