@import "src/assets/styles/global";

.table {
  max-width: 100%;
  padding: 24px 21px 21px 21px;
}

.tableContainer {
  background: $components-bg;
  width: 100%;
  min-height: $table-height;
  border-radius: $border-radius;
}