$components-bg: #ffffff;
$main-bg: #F4F6F9;
$border-radius: 8px;
$table-padding: 40px;
$table-border: 1px solid #E4E4E4;
$table-height: 85vh;
$table-header-height:10vh;
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $main-bg;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.layout {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;

  .sidebar {
    width: 60px;
    background: #002977;
  }

  .content {
    width: 100%;
  }
}
